$gray: #5d656b;
$orange: #ff5500;
$orange_left: #ff7a00;
$orange_right: #fe560a;
$border_gray: #e7e7e7;
$white: #ffffff;
$black: #000000;
$background_gray: #eeeeee;
$_background_gray: #f5f5f5;
$invaid_gray: #999999;
$invaid_logo_gray: #aaaaaa;
$dialog_background: #333333;
$pre_hot: #1eae44;
$delete_dialog_background: #f8f8f8;
$delete_btn: #5F646C;
$delete_title: #444444;
$delete_confirm_line: #dddddd;

$font_size_12: 12px;
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_24: 24px;
$font_size_26: 26px;
$font_size_28: 28px;